.logo {
   width: 30%;
   height: 20%;
}


#navLink{
    color: coral;
    font-family: Verdana, Tahoma, sans-serif; 
    margin: 5%; 
    padding-left: 20%;
    text-decoration: none;
}


.navbar-toggler{
    color: brown;
}
