
.tituloCon{
    color: crimson;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    margin: 3%;
}

.parrafoCon{
    text-align: center;
    color: orangered;
    margin: 2em;
}

.parrafoDir{
    text-align: center;
    color: coral;
    font-style: oblique;
}